<!DOCTYPE html>
<html>
  <head>
    <title>Code mystery</title>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Mystery+Quest" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/cool-file.css">
  </head>
  <body id="index">
    <div id="welcome">
      <h1>
        Welcome to Code mystery 
      </h1>
      <button id="startbutton" onclick="goMystery1()">Start mystery</button>
    </div>
    
    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
