<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>Code mystery</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/cool-file.css">
  </head>
  <body>
    <header>
      <h1>
        Code mystery 
      </h1>
    </header>

    <main>
      <section>
      <p>Welcome!<br>
      Solve the first mystery to get a hint.
      </p>
      <h2>Mystery 1</h2>
      <p>
        Go to edit <a href="https://glitch.com/edit/#!/mud-collar?path=public/cool-file.css:1:0" target="_blank">cool-file.css file </a>and change the background color.
      </p>
      <p class="myst1">
        Go to the next mystery klicking <a class="myst1" href="https://mud-collar.glitch.me/mystery2">this link</a> 
      </p>
      </section>
      
    </main>



    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
