<!DOCTYPE html>
<html>
  <head>
    <title>Code mystery</title>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Mystery+Quest" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/mystery.css">
  </head>
  <body id="mystery2">
    <div class="centering" id="myst2center">
      
   
    <header>
      <h1>
        Code mystery
      </h1>
    </header>

    <main>
      <section class="myst2">
      <h2>Mystery 2 secret of Hötömölö</h2>

      <p>
      Go edit <a href="https://glitch.com/edit/#!/mud-collar?path=views/mystery2.html:20:27" target="_blank">mystery2.html file</a> and enable the button by removing disbaled attribute
      </p>
      
      <!-- Here is code for buttons -->
      <!-- Painikkeet alkaa: Tässä on kohtaa luodaan painikkeet -->
      <button type="submit"  onclick="doNot()">Don't click this</button>
      <button type="submit"  onclick="goMystery3()" disabled>Next mystery</button>
      <!-- Here the code for buttons ends -->
      <!-- Painikkeet loppuu-->
      </section>
      
      <section>
      <div id="dontclickthisbutton">
      <p>
        <iframe width="420" height="315"
        src="https://www.youtube.com/embed/mOYZaiDZ7BM">
        </iframe>
      </p>  
      </div>
      </section>
    
    </main>
 </div>
  
    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
