<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mystery 3</title>
    <link href="https://fonts.googleapis.com/css?family=Mystery+Quest" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body id="mystery3">
  <div id="myst2center" class="centering">
    <h1>Mystery 3</h1>
    <p>Go to <a href="https://glitch.com/edit/#!/mud-collar?path=public/mystery.js:1:0">Mystery.js</a> file and solve the Mystery of For-loop</p>
    <button id="nappi" onclick="napinTehtava()">Mystery Button</button>
    <p>
      <span id="0" class="hidden">Tervetuloa </span>
      <span id="1" class="hidden">7-kerroksen </span>
      <span id="2" class="hidden">uusiin</span>
      <span id="3" class="hidden">tiloihin</span>
      <span id="4" class="hidden">tässä</span>
      <span id="5" class="hidden">sinulle</span>
      <span id="6" class="hidden">vinkkinä</span>
      <span id="7" class="hidden">kirjain</span>
      <span id="8" class="hidden kirjain">X</span>
    </p>
  </div>
  
<script src="/mystery.js"></script>
</body>
</html>