<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mystery 3!</title>

    <link rel="stylesheet" type="text/css" href="/mystery.css">
</head>
<body>
<h1>Mystery 3!</h1>
<h2>Go to Mystery.js file and solve the Mystery of For-loop</h2>
<button id="nappi" onclick="napinTehtava()">Mystery Button, Test me</button>
<p id="0" class="hidden">Tervetuloa</p>
<p id="1" class="hidden">7-kerroksen</p>
<p id="2" class="hidden">uusiin</p>
<p id="3" class="hidden">tiloihin</p>
<p id="4" class="hidden">tässä</p>
<p id="5" class="hidden">sinulle</p>
<p id="6" class="hidden">vinkkinä</p>
<p id="7" class="hidden">kirjain</p>
<p id="8" class="hidden">X</p>

  
<script src="/mystery.js"></script>
</body>
</html>