<!DOCTYPE html>
<html>
  <head>
    <title>Code mystery</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Code mystery
      </h1>
    </header>

    <main>
      <section class="myst2">
      <h2>Mystery 2 secret of Hötömölö</h2>

      <p>
      Go edit <a href="https://glitch.com/edit/#!/mud-collar?path=views/mystery2.html:20:27" target="_blank">mystery2.html file</a> and enable the button by removing disbaled attribute
      </p>
      
      <!-- Here is code for buttons -->
      <button type="submit"  onclick="myFunction()">This works!</button>
      <button type="submit"  onclick="goMystery3()">This doesn't</button>
      <!-- Here the code for buttons ends -->
      </section>
      <section>
      <iframe width="420" height="315"
src="https://www.youtube.com/embed/VcDy8HEg1QY">
</iframe>
      </section>
    </main>

    <footer>
      <a href="https://glitch.com">
        Remix this in Glitch
      </a>
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
