
body {
  margin: 25px;
  background-color: black;
}

#index {
 background: url("https://cdn.glitch.com/e32abc4c-392b-4f10-851b-8305f58a9870%2Fmyst4.png?1505380688949") no-repeat fixed center;
  background-size: contain;
}

#mystery1{
  background: url("https://cdn.glitch.com/e32abc4c-392b-4f10-851b-8305f58a9870%2Ftalo2.jpg?1505381043999") no-repeat fixed center;
  background-size: contain;
}

#mystery2{
  background: url("https://cdn.glitch.com/e32abc4c-392b-4f10-851b-8305f58a9870%2Ft%C3%B6n%C3%A4.jpg?1505380835990") no-repeat fixed center;
  background-size: contain;
}

#mystery3{
  background: url("https://cdn.glitch.com/e32abc4c-392b-4f10-851b-8305f58a9870%2Fdrinkit.png?1505380635544") no-repeat fixed center;
  background-size: contain;
}

h1, h2 {
  font-weight: bold;
    font-family: 'Mystery Quest', cursive;
}

p {
  max-width: 600px;
  font-family: 'Arial';
}

p.myst1, a:link.myst1, a:visited.myst1, a:hover.myst1, a:active.myst1 {
  color:white;
}

li {
  margin-bottom: 5px;
}

.box{
  background-color:white;
  background-opacity:0.2;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

footer > a {
  color: #BBBBBB;
}

#startbutton{
background:    #A32D2D;
background:    -webkit-linear-gradient(#A5ACB0, #991F3D);
background:    linear-gradient(#A5ACB0 , #0991F3D);
border-radius: 14px;
padding:       8px 20px;
color:         #ffffff;
display:       inline-block;
font:          normal 500 25px/1 'Mystery Quest', serif;
text-align:    center;
text-shadow:   1px 1px #000000;
margin-top:        50px;
}  

#welcome {
  width: 200px; 
  position:absolute; /*it can be fixed too*/
  left:0; right:0;
  top:40%; bottom:0;
  margin:auto;
  text-align:   center;
}

.centering {
  padding: 20px;
  width: 40%; 
  position:absolute; /*it can be fixed too*/
  left:0; right:0;
  top:30%; 
  margin:auto;
}

#myst1center{
  background-color: white;
}

#myst3center{
  background-color: white;
}

.hidden{
    visibility: hidden;
}
#myst2center{
  background-color: white;
  opacity: 0.8;
}

#myst1center{
  opacity: 0.8;
}

#dontclickthisbutton{
  text-align:center;
  display:none;
}